<head>
    <title> Send E-Mail </title>
</head>

who to email to :)

<form id = 'myform' method="GET">
    <div class="form-row align-items-center">
        <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                {{#each customers}}
                <option id = 'email' name = 'email'>{{email}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-auto my-1">
            <button id ='mail' type="submit" class="btn btn-primary">Email</button>
        </div>
    </div>
</form>

<script>
    var mail = document.getElementById('mail');
    mail.addEventListener("click",()=>{
        var sel = document.getElementById('inlineFormCustomSelect');
        document.getElementById('myform').action = "/email/" + sel.value;
        console.log("/email/" + sel.value);
    });

</script>