<title> Change Password </title>
<style>
    .btn__custom {
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-weight: 500;
        background-color: #16153b;
        border-radius: 15px;
        padding: 1rem 6rem;
    }

    .btn__custom:hover {
        color: white;
        background-color: #2b2978;
    }
</style>

<body>
    <center>
        <div class="container-fluid login_popup_div">
            <div class="col-md-6 col-md-push-3 create_popup_div">
                <div class="create_login_form">
                    <h3 class="login_heading">Change Your Password</h3><br>
                    <div class="col-sm-10 col-sm-push-1 generate_fields">
                        <form method="POST" id = "changepass">

                            <input type="hidden" value="{{password}}" id = 'oldpass'>
                            
                            <div class="form-group login_fields">
                                <input type="password" name="oldpassword" id="oldpassword" placeholder="Enter Old Password"
                                    class="form-control login_form_fields" required />
                            </div>
                            <div class="form-group login_submit_fields text-center">
                                <button type="button" id="check" class="btn btn__custom">Reset
                                    Password</button>
                            </div>

                            <div class="form-group login_fields">
                                <input type="password" name="password" id="password" placeholder="Enter New Password"
                                    autofocus class="form-control login_form_fields" required />
                            </div>
                            <div class="form-group login_fields">
                                <input type="password" name="confirmpassword" id="confirmpassword"
                                    placeholder="Confirm New Password" class="form-control login_form_fields"
                                    required />
                            </div>
                            <div class="form-group login_submit_fields text-center">
                                <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn__custom">Change
                                    Password</button>
                            </div>
                        </form>
                    </div><!-- close generate_fields-->
                </div><!-- close create_login_form-->
            </div><!-- close create_popup_div-->
        </div><!-- close login_popup_div-->
    </center>
</body>

<script>
    var btn = document.getElementById("btnSubmit");
    var pass = document.getElementById("password");
    var confirmpassword = document.getElementById("confirmpassword");
    var oldpassword = document.getElementById("oldpassword");
    var oldpass = document.getElementById("oldpass");
    var check = document.getElementById("check");

    btn.style.visibility = "hidden"
    pass.style.visibility = "hidden"
    confirmpassword.style.visibility = "hidden"

    check.addEventListener("click",()=>{
        if(oldpassword.value == oldpass.value){
            btn.style.visibility = "visible"
            pass.style.visibility = "visible"
            confirmpassword.style.visibility = "visible"
            oldpassword.style.visibility = "hidden"
            check.style.visibility = "hidden"
        }else{
            alert("Passwords Do not match");
        }
    });


    btn.addEventListener("click",()=>{
        if(pass.value == confirmpassword.value){
            document.getElementById("changepass").action = "/changepass";
        }else{
            alert("Password Not Matching");
        }
    });
</script>